*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
    font-size: 12px;
    color: #888888;
}
li{
    list-style: none;
}
.blogcontent_main{
    width: 674px;
    margin-bottom: 15px;
}
.blogcontent_head{
    width: 64px;
    height: 64px;
    float: left;
    background-color: black;
}
.blogcontent_head img{
    width: 64px;
    height: 64px;
}
.blogcontent_sanjiao{
    width: 585px;
    height: 24px;
    position: relative;
    float: right;
    background-image: url("../images/bgjl.png");
    background-position: 0 0;
}
.blogcontent_sanjiao_q{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2px;
    background-image:url("../images/bgjl.png") ;
    background-position: -500px 0;
}
.blogcontent_body{
    width: 499px;
    padding: 3px 32px 28px 28px;
    float: right;
    box-shadow: 1px 1px 1px 1px rgb(208,208,210);
    background-color: white;
    margin-right: 2px;

}
.blogcontent_username{
    width: 500px;
    height: 19px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
}
.blogcontent_word{
    width: 480px;
    padding-left: 20px;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 23px;
}
.blogcontent_word p{
    width: 480px;
    overflow:hidden;
}
.blogcontent_photo{
    width: 400px;
    padding-left: 20px;
    margin-bottom: 22px;
}
.blogcontent_video{
    width: 400px;
    padding-left: 20px;
    margin-bottom: 22px;
}
.blogcontent_bottom{
    width: 500px;
    height: 19px;
    margin-top: 11px;
    clear: both;
}
.blogcontent_button{
    float: right;
}
.blogcontent_button_span{
    margin-left: 15px;
}
.blogcontent_shoucang{
    float: right;
    width: 560px;
    margin-bottom: 20px;
    margin-right:2px ;
    box-shadow: 1px 1px 1px 1px rgb(208,208,210);
    background-color: white;
}
.blogcontent_shoucang ul li{
    list-style: none;
}
.blogcontent_shoucang_demo{
    width: 500px;
    height: 24px;
    padding: 10px 30px 10px 30px;
    background-color: white;
}
.blogcontent_pinglun{
    display: none;
    width: 560px;
    float: right;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px rgb(208,208,210);
    background-color: white;
    margin-right:2px ;
}
.blogcontent_button_a img{
    vertical-align:middle;
}
.blogcontent_util{
    clear: both;
}
.forwardcontent{
    background-color: #f2f2f5;
    width: 560px;
    margin-left: -48px;
    margin-bottom: -10px;
    display: none;
}
.forwardcontent_body{
    width: 510px;
    margin-left: 48px;
}
.forwardcontent_name{
    font-size: 12px;
    font-weight: 700;
}
.forwardcontent_word{
    font-size: 12px;
}
