* {
    margin: 0;
    padding: 0
}

em, i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}
button {
    cursor: pointer
}

a {
    color: #666;
    text-decoration: none
}
body{
    z-index: -1;
    background-image: url("../images/myZone/backgroundimg.jpg");
    background-size:cover;
    background-repeat: repeat-y;

}
#header_111{
    width: 100%;
    height: 75px;
    z-index: 1000;
}

#home_blog_content_show{
    margin-top: 40px;
    width:700px;
    border: 0;
}
#home_content{
    width: 1000px;
    margin: auto;
}
#home_content_left{
    width: 700px;
    height: 100px;
    float: left;
}
.home_content_right{
    width: 230px;
    height: 500px;
    float: left;
    margin-left: 24px;
}
.home_content_right div div:hover{
    background: #f3f3f3;
}
#home_nav{
    width: 674px;
    padding-top: 10px;
    height: 45px;
    background: white;
    border-radius: 5px;
}
#home_nav_ul{
    margin: auto;
    width: 550px;
}
#home_nav_ul li{
    width: 110px;
    height: 40px;
    font-size: 20px;
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 40px;
}
/*#home_nav_ul li:hover{*/
    /*color: #75c3f1;*/
/*}*/
.home_my_info{
    width:230px;
    height: 165px;
    box-shadow: #9F9F9F 1px 2px 1px 1px;
}
.home_my_background_img{
    width: 230px;
    height: 60px;
    display: table-cell;
    text-align: center;
    background-image: url("../images/myZone/backgroundimg.jpg");
    background-size: cover;
}

.home_my_background_img img{
    box-shadow: #e7e7e7 0px 0px 2px 2px;
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    top: 25px;
}
.home_username{
    width: 230px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 75px;
    font-weight: 700;
    background: white;
}

.home_username span:hover{
    color: #75c3f1;
}
.home_info_decoration{
    width: 230px;
    height: 45px;
    background: white;
}
.home_info_decoration div{
    width: 76px;
    height: 45px;
    float: left;
}
.home_info_decoration div p{
    width: 76px;
    text-align: center;
}
/*.home_all_my_shoucang{*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*display: inline-block;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url("../images/Home/mycollet.png");*/
/*}*/
/*.home_all_my_like{*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*display: inline-block;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url("../images/Home/mylike.png");*/
/*}*/
.one:hover{
    color: #75c3f1;
}
.one{
    font-size: 15px;
    font-weight: 700;
}
.two{
    font-size: 9px;
    color: #666666;
}
.home_blog_decoration{
    position: relative;
    top: 15px;
    box-shadow: #9F9F9F 1px 1px 1px 1px;
    background: white;
    border-radius: 5px;
}
.home_blog_decoration span{
    width: 115px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
}
.home_blog_decoration div{
    height: 25px;
}
.home_blog_decoration span:hover{
    color: #75c3f1;
}
.home_blog_one{
    float: left;
}
.home_blog_two{
    float: right;
}
.home_hot_topic{
    width: 230px;
    height: 190px;
    position: relative;
    top: 40px;
    box-shadow: #9F9F9F 1px 2px 1px 1px;
    background: white;
    border-radius: 5px;
}
.home_hot_topic li{
    margin-top: 5px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 180px;
}
.home_topic a{

    height: 20px;
}
.home_topic a:hover{
    color: #75c3f1;
}
.home_topic div{
    position: absolute;
    margin-top: 5px;
    height: 16px;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    width: 50px;
}
.home_topic_title{
    width: 220px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: #9F9F9F 1px solid;
}
#test{
    float: right;
    margin-top: 2px;
    display: inline;
    width: 16px;
    height: 16px;
    background-image: url("../images/Home/fresh.png");
}
.home_refresh{
    float: right;
    margin-right: 15px;
}
.home_to_top{
    position: fixed;
    right: 50px;
    bottom: 120px;
}

